body {
  padding-top: 5rem;
  background-color: grey;
}

.landing_text {
  display: block;
  text-align: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

#div1 {
  width: 70%;
  height:a;
  margin:auto 15%;
  background: no-repeat center/80% url("images/woodboard.jpg");
}

.cheese-image {
  width: 320px;
  height:320px;
}

.cheeseboard_image {
  position: relative;
  width: 80%;
}

.parent {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.child {
  background-color: rgba(255,255,255,0.3);
  width:20%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  padding: 15px;
  text-align: center;
  font-size: 1.3vw;
}

.border {
  border-color: red;
  border-width: 3px;
  border-style: solid;
}
