body {
  background-color: #EAE7DC;
  padding-left: 0rem;
  color: #474853;
}

a {
  color: #AC3B61;
  font-weight: 600;
}

.container-fluid, .container {
  padding-top: 2rem;
  padding-left: 0rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.landing_text em {
  font-size: 1.4vw;
}

.landing_text p {
  font-size: 1.2vw;
  text-align: center
}

.nav-link {
  font-size: 1.25vw;
}

.map {
  height: 400px;
  width: 50%
}

.nav-tabs {
  background-color: #BAB2B5;
  border-bottom: 0px;
}

.landing_btns {
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
  color: #AC3B61;
  font-weight: 600;
}

.cheeseboard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cheeseboard_image {
  width: 70%;
}

.navbar-custom {
  background-color: #474853;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text, .navbar-custom .navbar-nav .nav-link {
    color: #EAE7DC;
}

.landing_image {
  width: 70%;
  padding-right: 2rem;
}

.cheeseboard_description {
  width: 30%;
  text-align: center;
}

.cheeseboard_description h1 {
  font-size: 5vw;
}

.cheeseboard_description.landing_text h1, .about_text h1 {
  font-size: 4.5vw;
  padding-right: 2rem;
}

.cheeseboard_description p, .about_text p {
  font-size:1.5vw;
}

.parent {
  position: absolute;
  top: 42%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.child {
  width:20%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-size: 1.3vw;
}

.text {
  background-color: rgba(255,255,255,0.4);
  padding: 15px;
  color: #F5F4EF;
}

.hidden {
  display: none;
}

.show {
  display: absolute;
}

.cheesepic {
  display: none;
}

.border {
  background-color: #BAB2B5;
}

figure {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 5px;
}

.about_mixture {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  height: 42rem;
  margin-bottom: 2rem;
}

.about_text {
  width: 38%;
  text-align: center;
  font-size: 1.5vw;
}

.image {
  width: 65%;
  padding: 10px;
}

.icon-bar {
  position: fixed;
  top: 80%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 120px;
}
